<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="5">
    <test verbose="2" preserve-order="true"
          name="E:/Epam/IndividualEpamProject/src/main/java/org/example/GoogleCloudPricingCalculator.java">
        <classes>
            <class name="org.example.GoogleCloudPricingCalculatorTest"/>
        </classes>
    </test>
</suite>